body {
  margin: 0;
  font-family: 'Playfair Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey !important;
}

code {
  font-family: 'Playfair Display', sans-serif;
  background-color: grey !important;

}
